project:
  type: website

website:
  title: "Chengxi Zhou - Intro Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: example-analysis.qmd
        text: Example-analysis

format:
  html:
    theme: cosmo
    toc: true
    css: styles.css

bibliography: reference.bib

